*{
  margin: 0;
  padding: 0;
}
.center{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: #fff;
    min-height: 100vh;
    height: 100vh;
  }
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background:#e50914 ;
    height: 8vh;
  }
  .navbar {
    list-style: none;
    display: flex;

  }
.espaco1{
  margin-left: 800px;
}
.espaco3{
  margin-left: -90px;
}
.logo{
  margin-left: 20px;
  letter-spacing: 3px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 27px;
}


/*****Conteudo*****/
main{
  margin-bottom: 15px;
}

a {
    color: #ffffff;
    text-decoration: none;
    transition: 0.3s;
  }

.caixa{
  border:solid 1px;
  width: 700px;
  background-color: transparent;
  backdrop-filter: blur(3px);
  border-radius: 20px;

}
/*****Rodapé*****/

footer{
    background-color: #e50914 ;
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    
}
::placeholder{
  color: #ffffffa9;
}
